@model IEnumerable<Cotrust.Models.Buys>

@{
    ViewData["Title"] = "Buys";
}

<div class="text-center mt-2">
    <div class="card-title">Compras</div>
</div>

@foreach (var Item in Model)
{
    <div class="card shadow mb-2 mt-2 ms-auto me-auto w-50">
        <div class="card-body border-bottom border-primary border-2">
            <h5 class="card-text ms-auto me-auto">@Item.Direction</h5>
                    
            <div class="input-group">
                <div class="card-text mt-2 me-auto" style="color:grey">@Item.Date</div>
                <h6 class="card-text mt-2">
                    <a asp-controller="Buys" asp-action="Products" asp-route-id="@Item.Id">
                        Productos: @Item.Products?.Count
                    </a>
                </h6>
            </div>                   
        </div>
    </div>
}

