@{
    ViewData["Title"] = "About us";
}

<div class="container">
    <center>
        <div class="carousel slide w-100" data-ride="carousel">          
            <div class="carousel-inner">
                <div id="c1" class="carousel-item active">
                    <img class="d-block w-75" src="~/img/banner1.jpg" alt="..." />               
                </div>
                <div id="c2" class="carousel-item">
                    <img class="d-block w-75" src="~/img/333.jpg" alt="..." />                   
                </div>
                <div id="c3" class="carousel-item">
                    <img class="d-block w-75" src="~/img/Future.png" alt="..." />
                </div>
            </div>

            <a class="carousel-control-prev text-decoration-none" role="button" data-slide="prev" onclick="previmage()">
                <i class="fas fa-angle-double-left fs-1"></i>
            </a>
            <a class="carousel-control-next text-decoration-none" role="button" data-slide="next" onclick="nextimage()">
                <i class="fas fa-angle-double-right fs-1"></i>
            </a>
        </div>
        
        <div class="text-center mt-2">
            <span class="dot" onclick="changeimage(1)"></span>
            <span class="dot" onclick="changeimage(2)"></span>
            <span class="dot" onclick="changeimage(3)"></span>
        </div>
    </center>

    <div class="about-heading-content">
        <div class="row">                     
            <div class="col-xl-9 col-lg-10 mx-auto">
                <div class="bg-faded rounded p-5">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">Ultima tecnología para grandes creadores</span>
                    </h2>
                    <p>
                        COTRUST Technologies Co., Ltd., fundada en 2003, se dedica a la investigación y el desarrollo, 
                        la fabricación y la venta de productos de control de automatización industrial. Confiando en 
                        productos y soluciones de control de automatización de alta calidad y alto rendimiento para 
                        crear el máximo valor para los clientes, decidido a convertirse en el líder mundial. 
                        Proveedor de soluciones de automatización industrial.
                    </p>
                    
                    <p>
                        Como empresa de alta tecnología, COTRUST ofrece una amplia cobertura comercial de equipos y robots
                        inteligentes, vehículos de nueva energía, Internet industrial y fábricas inteligentes. Los productos
                        principales incluyen PLC, control de movimiento y servoaccionamiento, HMI, sistema de control dedicado
                        y software de automatización, software de programación MagicWorks (PLC/HMI/TUNER/OPC), el nuevo 
                        lanzamiento de la solución remota MiCo, sistema de control cooperativo multirobot ampliamente utilizado
                        en soluciones para clientes.
                    </p>

                    <p>
                        COTRUST construyó asociaciones a largo plazo con los clientes. Para lograr esto, COTRUST ofrece más que 
                        solo productos: trabajar con COTRUST brinda a los clientes acceso a instalaciones líderes de fabricación
                        e investigación y desarrollo integradas, así como a especialistas industriales y de ingeniería altamente 
                        calificados.
                    </p>

                    <p>
                        COTRUST invierte el 10% de los ingresos y el 40% de los empleados en I+D, posee más de 30 registros de 
                        marcas y 140 patentes con certificados (incluidas invenciones, modelos de utilidad y apariencia). Utiliza
                        un proceso de ingeniería excepcionalmente riguroso que incorpora modelos de diseño avanzados, análisis de 
                        rendimiento y técnicas de garantía de calidad para mejorar la capacidad de producción de forma continua y 
                        promover el desarrollo sostenible.
                    </p>

                    <p>   
                        Sobre la base de poseer tecnologías de automatización industrial con derechos de propiedad intelectual patentados,
                        COTRUST persevera en el marketing industrial y brinda soluciones totales a los clientes en el segmento de mercado 
                        y logra un crecimiento tanto del valor empresarial como del valor para el cliente.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>