@{
    ViewData["Title"] = "Contact";
}

<div class="text-center mt-2">
    <div class="card-title">Contacto</div>
</div>


<div class="text-center">
    <center>
        <div class="card shadow mb-5 mt-2 w-75" style="max-width:700px">
            <div class="card-header py-3">

                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <form asp-action="Contact">
                        <input class="form-control mb-3" name="email" placeholder="E-mail" type="email" value="@User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value" required />
                        <textarea class="form-control mb-2" style="height:150px;" name="body" placeholder="Mensaje" required></textarea>

                        <input type="submit" value="Enviar" class="btn btn-primary mb-1 mt-2" />
                    </form>
                }
                else
                {
                    <form asp-action="Contact">
                        <input class="form-control mb-3" name="email" placeholder="E-mail" type="email" required />
                        <textarea class="form-control mb-2" name="body" placeholder="Mensaje" style="height:150px;" required></textarea>

                        <input type="submit" value="Enviar" class="btn btn-primary mb-1 mt-2" />
                    </form>
                }

                <div class="text-success">@ViewBag.Message</div>
            </div>
        </div>
    </center>
</div>
