@{
    ViewData["Title"] = "Help";
}

<div class="text-center mt-2">
    <div class="card-title">Ayuda</div>
</div>

<div class="text-center">
    <center>
        <div class="card shadow mb-5 mt-2 w-100">
            <div class="card-header py-3">
                <h2>Página de ayuda</h2>
                <h5>1 - se pondrán proyectos básicos con distintas funciones para descargar</h5>
                <h5>2 - se pondrán respectivos videos de ayudas</h5>
                <h5>3 - se pondrán respuestas a preguntas frecuentes</h5>
                <p>
                    Se puede hacer hasta un conjunto de proyecto - video para poder 
                    explicar en el video todo lo que se hizo en el proyecto.
                </p>
            </div>
        </div>
    </center>
</div>