@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}


<div class="text-center mt-2">
    <div class="card-title">Error</div>
</div>


<div class="card shadow mb-5 mt-2 w-100">
    <div class="card-header py-3">
        <h4 class="text-danger">Mensaje: @TempData["Message"]</h4>
    </div>
</div>

