
@{
    ViewData["Title"] = "Accesso denegado";
}

<div class="container p-4">
    <h2>Acceso denegado</h2>
    <p>No tiene acceso a esta página</p>
    <p><a asp-action="Login">Iniciar sesión</a></p>
</div>