
@{
    ViewData["Title"] = "User";
}

<div class="text-center mt-2">
    <div class="card-title">Inicio de sesión</div>
</div>

<div class="text-center">
    <center>
        <div class="card shadow mb-5 mt-2 w-100" style="max-width:600px">
            <div class="card-header py-3">
                <form asp-action="Login">
                    @*<label class="mt-2">E-mail</label>*@
                    <input class="form-control mt-2" name="email" placeholder="E-mail" type="email" required />

                    @*<label class="mt-2">Contraseña</label>*@
                    <input class="form-control mt-3 mb-2" name="password" placeholder="Contraseña" type="password" required />

                    <input type="submit" value="Ingresar" class="btn btn-primary mb-1 mt-2" />
                </form>

                <a asp-action="Register">Crear una cuenta</a>
            </div>
        </div>
    </center>
</div>
